html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #121214;
    color: white;
    overscroll-behavior: none;
    overflow: hidden;
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

#alert_message {
    text-align: center;
    font-size: 1.5rem;
    margin: 14px 0 14px 0;
}

.alert_box {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #D7DADC;
    color: black;
    padding: 0 12px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1000;
    font-size: 12px;
    line-height: 1;
    margin: 0;
}

#game_over_message {
    text-align: center;
    font-size: 1.5rem;
    margin: 14px 0 14px 0;
}

.game_over_box {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #D8DADC;
    color: black;
    padding: 0 12px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1000;
    font-size: 12px;
    line-height: 1;
    margin: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

table {
    margin: 0 auto;
}

#keyboard_container {
    text-align: center;
    margin-top: 0;
}


.guess_box_input {
    text-align: center;
    width: 60px;
    height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #121214;
    border: 2px solid #3A3A3B;
    caret-color: transparent;
    outline: none;
    user-select: none;
}

.guess_box_input:not(:placeholder-shown) {
    border: 2px solid #565758;
}

#keyboard {
    text-align: center;
    margin: 0 auto;
}

.keyboard_key {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 16px 20px 16px;
    margin: 4px 3px;
    border: none;
    border-radius: 5px;
    color: #D4D7D9;
    background-color: #818384;
}

.hard_match {
    background-color: #538D4E;
}

.soft_match {
    background-color: #B59F3B;
}

.no_match {
    background-color: #3A3A3B;
}

#restart_button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #B8BABC;
    color: black;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 16px;
    line-height: 1;
    margin: 10px auto 16px;
    display: block;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}